body{
    background-color: #f5efe5;
    font-family: monospace;
}

/*
    =================================
    ============ HEADER =============
    =================================
*/

.header-container-links{
    background-color:#e6dbcc;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    padding: 10px;
}

.social-media-logo{
    padding: 5px;
}

/*
    =================================
    ============= BODY ==============
    =================================
*/

#main-container{
    background-color: #f5efe5;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 50px;
}

#image-name-container{
    background-color: #f5efe5;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.tittle-name{
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#main-image{
    border-radius: 50%;
    border: solid;
    border-color:#e6dbcc;
}

#secondary-container{
    background-color: #f5efe5;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 15px;
}

.main-buttons{
    padding: 75px;
    /*border-style: groove;*/
    border-color: #e6dbcc;
    background-color: #f5efe5;
    justify-content: center;
    font-size: xx-large;
    text-align: center;
}

.main-buttons:hover{
    background-color: #e6dbcc;
}


/*
    =================================
    ============ FOOTER =============
    =================================
*/

.footer-container{
    background-color: #e6dbcc;
    height: 50px;
    width: 100%;
}


/*
    =================================
    ======= PHONE RESPONSIVE ========
    =================================
*/

@media screen and (max-width: 600px) { 
    #secondary-container{
        background-color: #f5efe5;
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 15px;
    }

    .header-container-links{
        justify-content: left;
    }

    .social-media-logo{
        display: none;
    }

    .burger-menu{
        background-color: #c0b19b;
        padding: 5px;
    }

    .bar{
        width: 35px;
        height: 5px;
        background-color: #e6dbcc;
        margin: 6px;
    }
}
/*
    =================================
    ====== TABLET RESPONSIVE ========
    =================================
*/
@media screen and (max-width: 768px) {
    #secondary-container{
        background-color: #f5efe5;
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 15px;
    }

    .header-container-links{
        justify-content: left;
    }

    .social-media-logo{
        display: none;
    }

    .burger-menu{
        background-color: #c0b19b;
        padding: 5px;
    }

    .bar{
        width: 35px;
        height: 5px;
        background-color: #e6dbcc;
        margin: 6px;
    }
}
