body{
    background-color: #f5efe5;
    font-family: monospace;
}

#main-container{
    background-color: #f5efe5;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 50px;
}
#image-name-container{
    background-color: #f5efe5;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /*justify-content: space-evenly;*/
}

#image-name-container > img, h2{
    background-color: #f5efe5;
    padding: 5px;
    /*justify-content: center;*/
}

#tittle-name{
    font-size: 250%;
}
#secondary-container{
    background-color: #f5efe5;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 15px;
}

.main-buttons{
    padding: 75px;
    /*border-style: groove;*/
    border-color: #e6dbcc;
    background-color: #f5efe5;
    justify-content: center;
    font-size: xx-large;
}

.main-buttons:hover{
    background-color: #e6dbcc;
}

#header-container-links{
    background-color:#e6dbcc;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    padding: 10px;
}
#header-container-links > div{
    padding: 5px;
    background-color: #f5efe5;
    justify-content: center;
}

#main-image{
    border-radius: 50%;
    border: solid;
    border-color:#e6dbcc;
}

.footer-container{
    background-color: #e6dbcc;
}

.social-media-logo{
    padding: 5px;
}